$red: #b5534c;
$w-red: #e6a39e;
$b-red: #820a01;
$orange: #bf7a49;
$w-orange: #bf9f88;
$b-orange: #b86123;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: border-box;
}
body{
    width: calc(100vw- ( 100vw - 100%));
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(4vw + 1%);
    .menu-btn{
        display: inline-block;
        width: 100%;
        height: 100%;
        border-style: none;
        padding: 8px;
        background-color: $w-red;
        color:white;
        text-decoration: none;
        text-align: center;
        font-size: 120%;
        &:hover{
            background-color: darken($red, 15%);
            cursor: pointer;
        }
    }
    #op-nav{
        display:none;
        + label
        {
            position: absolute;
            width: 0;
            height: 0;
            border-left: solid 2.5em darken($red, 15%);
            border-top: solid 1.5em transparent;
            border-bottom: solid 1.5em transparent;
            margin-left: .1em;
            &:hover{
                border-left: solid 2.5em $red;
            }
        }
        &:checked ~ nav{
            left: 0;
        }
    }

    nav{
        position: absolute;
        left: -60%;
        width: 60%;
        top: 0vh;
        transition: all 1s;
        z-index: 1;
        #cl-nav{
            display: none;
            +label{
                position: absolute;
                width: 2em;
                height:2em;
                text-align: center;
                font-size: 145%;
                z-index:20;
                right: 0;
                top: 0vh;
                color: $b-red;
                transform: rotate(45deg);
                &:hover{
                    color: darken($w-red, 15%);
                }
            }
        }
        ul{
            height: 50vh;
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            li{
                flex: 1 1 20%;
                width:100%;
                list-style: none;
                background-color: $w-red;
                .search{
                    width: 100%;
                    height: 100%;
                    margin-top: 1em;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    input{
                        flex: 2 1 10%;
                        padding: 8px;
                    }
                    input[type=submit]{
                        max-width: 25%;
                    }
                }
            }
        }
    }
    ol{
        position: absolute;
        width: 15%;
        right: 0;
        top: 10vh;
        display: flex;
        flex-direction: column;
        list-style: none;
        a{
            width: 3em;
            height: 3em;
            border-radius: 50%;
            margin: .5em 0;
            color: white;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            font-size: 100%;
            line-height: 300%;
            &:nth-child(1){
                background-color:blue;
            }
            &:nth-child(2){
                background-color:#64bfe3;
            }
            &:nth-child(3){
                background-color: #e1306c;
            }
            &:nth-child(4){
                background-color:green;
            }
        }
    }
    ol#form-send{
        position: fixed;
        li{
            button, input{
                width: 3em;
                height: 3em;
                border-radius: 50%;
                margin: .5em 0;
                color: white;
                text-decoration: none;
                text-align: center;
                font-weight: bold;
                font-size: 100%;
                line-height: 300%;
                border-style: none;
            }
            &:nth-child(1)>button{
                background-color: blue;
            }
            &:nth-child(2)>input{
                background-color: green;
                margin-top: 60vh;
            }
        }
    }
    header{
        position: absolute;
        width: 100%;
        background-color: black;
        color: white;
        padding: 2%;
        h1{
            text-align: right;
        }
    }

    main{
        width: 80%;
        padding-top: 10vh;
        h2#seccion{
            margin: 0 2% 5%;
            background-image: linear-gradient(to right,black, white);
            background-size: 100% 2px;
            background-repeat: no-repeat;
            background-position: bottom;
        }
        article{
            margin: 3% 2%;
            background-color: darken(white, 15%);
            border-radius: 16px;
            display: grid;
            grid-template-areas: "t t"
                                 "p p"
                                 ". a";
            h2{
                grid-area: t;
                padding: .5em;
                background-color: grey;
                border-top-right-radius: 16px;
                border-top-left-radius: 16px;
            }
            p{
                grid-area: p;
                padding: .5em;
            }
            a{
                grid-area: a;
                background-color: $orange;
                color: white;
                text-decoration: none;
                padding: .5em;
                border-top-left-radius: 8px;
                &:hover{
                    background-color: $b-orange;
                }
            }
        }
        form{
            margin: 3% 2%;
            .cont-edit{
                width: 100%;
                display: flex;
                flex-direction: row;
                button{
                    flex: 1 1 12%;
                }
            }
            label{
                display: block;
                background-image:linear-gradient(to right,black, white);
                background-size: 100% 2px;
                background-repeat: no-repeat;
                background-position: bottom;
                margin-bottom: 3%;
            }
            input[type=text], textarea{
                width: 100%;
                font-size: 100%;
                padding: .3em;
            }
            textarea{
                resize: vertical;
                padding: .3em;
            }
            #dest-l, #dest{
                display: inline;
                margin: 4% 0;
            }
        }
    }
    section#content{
      padding-top: 10vh;
      width: 80%;
      margin: auto;
      #titulo, p{
        margin-bottom: 3vw;
      }
      #resumen{
        width: 90%;
        margin: auto;
        margin-bottom: 3vw;
        padding: 1em;
        background-color: lighten(grey, 35%);
      }
    }
}
